<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>07-优惠券详情</title>
    <link href="../../node_modules/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/page7/coupon.css">
    <link rel="stylesheet" href="../../css/page7/couponproduct.css">
    <link rel="stylesheet" href="../../css/base.css">
</head>
<body>
<div class="head">
    <div class="back"><a href="coupon.html" class="glyphicon glyphicon-menu-left"></a></div>
    <h1>肯德基优惠券</h1>
    <div class="download"><a href="#"></a></div>
</div>
<div class="body">
    <div class="reminder">--点餐前出示手机中的优惠券，即可享受优惠--</div>
    <div class="right">
        <ul id="coupon_info_body">
            <!--渲染-->
        </ul>
    </div>
</div>
<div class="foot">
    <!--底部导航栏-->
    <div class="foot_nav">
        <a href="#">首页 > </a>
        <a href="coupon.html">优惠券 ></a>
        <a href="#">肯德基优惠券</a>
    </div>
    <div class="foot_info">
        <ul>
            <li class="col-xs-4"><a href="#">登录</a></li>
            <li class="col-xs-4"><a href="#">注册</a></li>
            <li class="col-xs-4"><a href="#">返回顶部</a></li>
        </ul>
        <p><a href="#">手机APP下载&nbsp</a><a href="#">慢慢买手机版&nbsp</a><span>--掌上比价平台</span></p>
        <p>m.manmanbuy.com</p>
    </div>
</div>
<!--轮播图-->
<div class="lbt">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner " role="listbox">
            <!--轮播图渲染-->
        </div>
    </div>
</div>

<script type="text/template" id="coupon_info">
    {{each result as v i}}
    <li class="clearfix" data-id="{{v.couponProductId}}">
        <a href="javascript:;">
            <div class="pic">{{#v.couponProductImg}}</div>
            <div class="info">
                <div class="title">
                    <h3>{{v.couponProductName}}</h3>
                    <h2>{{v.couponProductPrice}}</h2>
                </div>
                <div class="time">{{v.couponProductTime}}</div>
                <a href="#" class="glyphicon glyphicon-menu-right"></a>
            </div>
        </a>
    </li>
    {{/each}}
</script>
<script type="text/template" id="coupon_lbt">
    {{each result as v i}}
    {{if i == 0}}
    <div class="item active">
        {{#v.couponProductImg}}
    </div>
    {{/if}}
    {{if i !== 0}}
    <div class="item">
        {{#v.couponProductImg}}
    </div>
    {{/if}}
    </div>
    {{/each}}
</script>
<script src="../../node_modules/jquery/jquery-2.2.2.js"></script>
<script src="../../node_modules/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../../node_modules/template.js"></script>
<script src="../../js/page7/couponproduct.js"></script>
</body>
</html>