a{
	text-decoration: none;
	
}

#bcnav {
	
	height: 50px;
	line-height: 50px;
	/*position: absolute;*/
	/*left: 0;*/
}

.top{
		height: 50px;
		background-color: rgba(250,128,10,.8);
		line-height: 50px;
}
.conlfet{
	font-size: 20px;
	color: white;
}
.topnb{
	font-size: 20px;
	color: white;
}
#tu{
	width: 34px;
	height: 34px;
}
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.container-fluid.mr{
	padding: 0;
	
}
.imgb img{
	width: 100%;
}
.pname{
	    color: #333333;
    word-break: break-all;
    font-size: 15px;
    line-height: 19px;
    min-height: 57px;
    text-align: left;
    font-weight: normal;
    font-family: "微软雅黑";
	
}
  
    
.pdate {
	  color: #a1a1a1;
    font-size: 12px;
}
.about{
	
	  color: #a1a1a1;
    font-size: 12px;
}
.pname span{
	color: #ff6c00;
}
#bot{
	padding: 0;
	margin: 0;
	margin-top: 20px;
	
}
#bot div{
	text-align: center;
	border-top: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	height: 30px;
	line-height: 30px;
}
#bott{
	text-align: center;
	padding-top: 10px;
	height:50px;
	line-height: 20px;
}
 #jj  {
   	margin-top: 10px;
    background-color: #ebebeb;
    padding: 10px 0;
   	
   }
